<div class="panel panel-default">
  <div class="panel-heading"><h1>New Ticket</h1></div>
  <div class="panel-body">

<%= render 'form', ticket: @ticket %>

<%= link_to 'Back', tickets_path %>
  </div>
</div>